asgiref==3.11.1
Django==6.0.3
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
Django==6.0.3
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
